{% extends 'inventory/base.html' %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        {% if message.tags == "success" %}
            <li class = "alert alert-success">{{ message }}</li>
        {% endif %}
        {% if message.tags == "error" %}
            <li class = "alert alert-danger">{{ message }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

<h1>Add Item</h1>
<form action="/itemAdded/" method="post" >
    {% csrf_token %}
    {{ additemform }} <br>
    <input type="submit" value="Submit" />
</form>

{% endblock %}
