{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PIMS</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/inventory/dashboard.css' }%}">
  </head>
  <body>
      <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #191970">
         <a class="navbar-brand" href="/">
         <img src="{% static '/inventory/PIMS_no_circle.png' }%}" width="100" alt="PIMS">
         </a>

        <div class="collapse navbar-collapse" id="header-nav-bar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/inventory/">Inventory <span class="sr-only">(current)</span></a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/orders/">Orders <span class="sr-only">(current)</span></a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/">Place Order <span class="sr-only">(current)</span></a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/">Add Item <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>


    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
              <form action="/quickOrder/" method="post" >
                  {% csrf_token %}
                  <strong>Quick Order</strong><br>
                  Name: <br>
                  {{ form }} <br>
                   <input type="submit" value="Submit" />
              </form>
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1>{% block page_title %}{% endblock %}</h1>

          {% block content %}{% endblock %}
        </main>
      </div>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
