{% extends 'inventory/base.html' %}
{% block page_title %}{{ order }}{% endblock %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        {% if message.tags == "success" %}
            <li class = "alert alert-success">{{ message }}</li>
        {% endif %}
        {% if message.tags == "error" %}
            <li class = "alert alert-danger">{{ message }}</li>
        {% endif %}
        {% if message.tags == "warning" %}
            <li class = "alert alert-warning">{{ message }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

<form action = "/orders/" method="post">
    <input type="hidden", name="order_id", value={{ order.id }}>
    {% csrf_token %}
    <table>
        {{ editForm.as_table }}
    </table>
    <button type="submit" class="btn btn-outline-primary">Confirm</button>
</form>

{% endblock %}
