{% extends 'inventory/base.html' %}
{% block page_title %}Home{% endblock %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        {% if message.tags == "success" %}
            <li class = "alert alert-success">{{ message }}</li>
        {% endif %}
        {% if message.tags == "error" %}
            <li class = "alert alert-danger">{{ message }}</li>
        {% endif %}
        {% if message.tags == "warning" %}
            <li class = "alert alert-warning">{{ message }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

<ul>
    <li><a href="/inventory/">Inventory</a></li>
    <li><a href="/orders/">Orders</a></li>
</ul>
{% endblock %}
