{% extends 'inventory/base.html' %}

{% block page_title %}{{ inventoryItem }}{% endblock %}

{% block content %}

Total Stock: {{ inventoryItem.total_stock }} <br>
Current Stock: {{ inventoryItem.currentStock }}<br>
Average Order Size for {{ inventoryItem }}s: {{ inventoryItem.averageOrder }}<br>

<form action = "/deleteItem/" method="post" name="deleteItemForm">
	{% csrf_token %}
	<input type="hidden", name="item_id", value={{ inventoryItem.id }}>
	<input type="hidden", name="item_name", value={{ inventoryItem }}>
	<button type="submit" class="btn btn-danger">Delete</button>
</form>

<br>
<table class="table table-bordered">
	<h5>Orders of This Item</h5>
  <thead>
	<tr>
	  <th>Borrower</th>
	  <th>Quantity Borrowed</th>
      <th>Quantity Returned</th>
	</tr>
  </thead>
  <tbody>
			{% for orderitem in inventoryItem.orderitem_set.all %}
			<tr>
				<td>{{ orderitem.order }}</td>
				<td>{{ orderitem.quantity_borrowed }}</td>
                <td>{{ orderitem.quantity_returned }}</td>
			</tr>
			{% endfor %}
  </tbody>
</table>
<br>

{% endblock %}
