{% extends 'inventory/base.html' %}
{% block page_title %}Orders{% endblock %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        {% if message.tags == "success" %}
            <li class = "alert alert-success">{{ message }}</li>
        {% endif %}
        {% if message.tags == "error" %}
            <li class = "alert alert-danger">{{ message }}</li>
        {% endif %}
        {% if message.tags == "warning" %}
            <li class = "alert alert-warning">{{ message }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% if order_list %}
    <table class="table table-bordered">
        <h5>Orders</h5>
      <thead>
        <tr>
          <th>Borrower</th>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>
      </thead>
      <tbody>
                {% for order in order_list %}
                {% if order.quick_order == False %}
                <tr>
                    <td><a href="/order/{{ order.id }}/">{{ order.borrower_name }}</td>
                    <td>{{ order.start_time }}</td>
                    <td>{{ order.end_time }}</td>
                </tr>
                {% endif %}
                {% endfor %}
      </tbody>
    </table>
    <br>

    <table class="table table-bordered">
        <h5>Quick Orders</h5>
      <thead>
        <tr>
          <th>Borrower</th>
          <th>Items</th>
        </tr>
      </thead>
      <tbody>
                {% for order in order_list %}
                {% if order.quick_order == True %}
                <tr>
                    <td><a href="/order/{{ order.id }}/">{{ order.borrower_name }}</td>
                    <td>
                        <ul class="order-item-list">
                        {% for item in order.orderitem_set.all %}
                            <li>{{ item }}</li>
                        {% endfor %}
                        <ul>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
      </tbody>
    </table>

{% else %}
    <p>No orders exist in the database</p>
{% endif %}

{% endblock %}
