{% extends 'inventory/base.html' %}
{% block content %}

{% if order_list %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Borrower</th>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>
      </thead>
      <tbody>
                {% for order in order_list %}
                <tr>
                    <td><a href="/Orders/{{ order.id }}/">{{ order.borrower_name }}</td>
                    <td>{{ order.start_time }}</td>
                    <td>{{ order.end_time }}</td>
                </tr>
                {% endfor %}
      </tbody>
    </table>

{% else %}
    <p>No orders exist in the database</p>
{% endif %}

{% endblock %}
