{% extends 'inventory/base.html' %}
{% block page_title %}{{ order }}{% endblock %}
{% block content %}

Start Time: {{ order.start_time }} <br>
End Time: {{ order.end_time }} <br>

<br>
<table class="table table-bordered">
	<h5>Items in Order</h5>
  <thead>
	<tr>
	  <th>Item</th>
	  <th>Quantity</th>
	</tr>
  </thead>
  <tbody>
			{% for orderitem in order.orderitem_set.all %}
			<tr>
				<td>{{ orderitem.item }}</td>
				<td>{{ orderitem.quantity_borrowed }}</td>
			</tr>
			{% endfor %}
  </tbody>
</table>
<br>

{% endblock %}
