{% extends 'inventory/base.html' %}

{% block page_title %}Place Order{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        {% if message.tags == "success" %}
            <li class = "alert alert-success">{{ message }}</li>
        {% endif %}
        {% if message.tags == "error" %}
            <li class = "alert alert-danger">{{ message }}</li>
        {% endif %}
        {% if message.tags == "warning" %}
            <li class = "alert alert-warning">{{ message }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

<form action = "/placeOrder/" method="post">
	{% csrf_token %}
    <ul class="placeOrderForm">
        {{ placeorderform.as_ul }}
    </ul>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
